# -*- mode: ruby -*-
# vi: set ft=ruby :

Vagrant::Config.run do |config|
    config.vm.box = "base"
    config.vm.box_url = "http://files.vagrantup.com/precise64.box"
    config.vm.forward_port 80, 8080
    config.vm.provision :shell, :path => "provision.sh"
    
    # Share your local Phavour project path with the vagrant image to
    # develop against.
    # The path mounted is "/phavour-core" and on your host the path is "../phavour"
    # Change these to fit your needs.
    config.vm.share_folder "phavour-core", "/phavour-core", "../phavour"
end
